:root {
  --main-light: #4B6FA9;
  --main-bold: #122849;
}

:root {
  --font-sans: var(--font-inter);
  --header-height: calc(var(--spacing) * 12 + 1px);

  /* Primary colors */
  --primary: var(--main-light);
  --primary-bold: var(--main-light);
  --primary-bold-80: var(--main-light);
  --primary-80: var(--main-light);
  --primary-foreground: #ffffff;

  /* Sidebar colors */
  --sidebar: var(--main-bold);
  --sidebar-80: var(--main-bold);
  --sidebar-foreground: #ffffff;
  --sidebar-accent: var(--main-bold);
  --sidebar-accent-80: var(--main-bold);
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: var(--main-light);

  /* Card and accent */
  --card-bg: #ffffff;
  --accent: var(--main-bold);

  /* Status colors (you can keep these if they differ) */
  --success: rgba(149, 213, 178, 1);
  --warning: rgba(250, 204, 21, 1);
  --danger: rgba(248, 113, 113, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary: rgba(157, 178, 191, 1);
    --primary-bold: rgba(16, 33, 58, 1);
    --primary-foreground: rgba(255, 255, 255, 1);

    --sidebar: rgba(16, 33, 58, 1);
    --sidebar-80: rgba(16, 33, 58, 0.8);
    --sidebar-foreground: rgba(255, 255, 255, 1);
    --sidebar-accent: rgba(24, 52, 91, 1);
    --sidebar-accent-80: rgba(24, 52, 91, 0.8);
    --sidebar-accent-foreground: rgba(255, 255, 255, 1);
    --sidebar-border: rgba(34, 52, 90, 1);

    --card-bg: rgba(30, 41, 59, 1);
    --accent: rgba(129, 140, 248, 1);
  }
} */